[submodule "motif/libs/domain"]
	path = motif/libs/domain
	url = https://github.com/bcf23-prometheus/motif-libs-domain.git
[submodule "motif/libs/rest-exception"]
	path = motif/libs/rest-exception
	url = https://github.com/bcf23-prometheus/motif-libs-rest-exeception.git
[submodule "infrastructures/resources"]
	path = infrastructures/resources
	url = https://github.com/bcf23-prometheus/infrastructures-resources.git
[submodule "infrastructures/automation"]
	path = infrastructures/automation
	url = https://github.com/bcf23-prometheus/infrastructures-automation.git
[submodule "data/configs"]
	path = data/configs
	url = https://github.com/bcf23-prometheus/data-configs.git
[submodule "motif/services/config-service"]
	path = motif/services/config-service
	url = https://github.com/bcf23-prometheus/motif-services-config-service.git
[submodule "motif/services/user-management-service"]
	path = motif/services/user-management-service
	url = https://github.com/bcf23-prometheus/motif-services-user-management.git
[submodule "motif/services/discovery-service"]
	path = motif/services/discovery-service
	url = https://github.com/bcf23-prometheus/motif-services-discovery-service.git
[submodule "motif/services/api-gateway-service"]
	path = motif/services/api-gateway-service
	url = https://github.com/bcf23-prometheus/motif-services-api-gateway-service.git
[submodule "apps/hospital-service"]
	path = apps/hospital-service
	url = https://github.com/bcf23-prometheus/apps-hospital-service.git
[submodule "motif/services/otp-service"]
	path = motif/services/otp-service
	url = https://github.com/bcf23-prometheus/motif-services-otp-service.git
[submodule "motif/services/notification-service"]
	path = motif/services/notification-service
	url = https://github.com/bcf23-prometheus/motif-services-notification-service.git
